.add-user-page {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  margin-top: 20px;
  border-bottom: 2px solid white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 0px 20px rebeccapurple;
  background-image: url('./cubes_veralto.png');
  background-color: rebeccapurple;
  height: 80%;
}


.add-user-page:hover {
  box-shadow: 0px 0px 40px rebeccapurple;

}

.add-user-header {
  text-align: center;
  color: white;
}

.add-user-form {
  display: flex;
  flex-direction: column;
}

.form-row {
  display: flex;
}

.left-column {
  flex: 1;
  margin-right: 40px;
  /* Add margin to create space between columns */
  margin-top: 20px;
  /* Add margin to move the column down */
}

.right-column {
  flex: 1;
  /* Add margin to create space between columns */
  margin-left: 40px;
  /* Add margin to move the column down */
  margin-top: 20px;
}

.addnewuser-group {
  margin-bottom: 20px;
}

.addnewuser-group input {
  width: 100%;
  padding: 12px;
  border: none;
  border-bottom: 5px solid #185299;
  background-color: #fff;
  color: #333;
  font-size: 16px;
  transition: border-bottom-color 0.3s;
}


.addnewuser-group input:focus {
  outline: none;
  border-bottom-color: rgb(84, 223, 25);
}

.submit-row {
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.submit-button {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #28a745;
  box-shadow: 0px 0px 10px #28a745;
}

.cancel-button:hover {
    box-shadow: 0px 0px 10px #dc3545;
}

.cancel-button
{
  background-color: #dc3545;
}

.message {
  display:block;
  position: relative;
  top: -500px;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
}

.message.success {
  background-color: #28a745;
  color: #fff;
}

.message.error {
  background-color: #dc3545;
  color: #fff;
}

@media screen and (max-width: 1000px) {

  .add-user-page {
    height: 135vh;
    width: 80%;
    max-width: 60%;
    min-width: 30%;
  }

  .form-row {
    flex-direction: column;
  }

  .left-column,
  .right-column {
    flex: none;
    width: 100%;
    margin: 0;
    /* Reset margin for smaller screens */
  }
  .submit-row {
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
  }

  .submit-button {
    width: 50%;
    margin-bottom: 70px;
  }
}

@media screen and (max-width: 1000px) {

  .add-user-page {
    height: 135vh;
    width: 80%;
    max-width: 60%;
    min-width: 30%;
  }

  .form-row {
    flex-direction: column;
  }

  .left-column,
  .right-column {
    flex: none;
    width: 100%;
    margin: 0;
    /* Reset margin for smaller screens */
  }

  .submit-row {
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
  }
  .submit-button {
    width: 50%;
    margin-bottom: 70px;
  }
}

@media screen and (min-width:200px) and (max-width: 500px) {

  .add-user-page {
    height: 135vh;
    width: 0%;
    max-width: 60%;
    min-width: 500px;
  }


  .form-row {
    flex-direction: column;
  }

  .left-column,
  .right-column {
    flex: none;
    width: 100%;
    margin: 0;
    /* Reset margin for smaller screens */
  }
  .submit-row {
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
  }

  .submit-button {
    width: 50%;
    margin-bottom: 70px;
  }
}
