.ubh-h {
    text-align: center;
    margin-bottom: 20px;
    color: rebeccapurple;
    text-decoration: underline;
    font-weight: 400;
    margin-top: 10px;
    font-family: sans-serif;
}

.bookings-container {
    padding: 20px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    font-family: sans-serif;
    position: relative;
    top:-20px;
}

.booking {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
}


.lf-section {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    overflow-y: auto;
    background-color: #b8b8ff;
    height: 450px;
    margin-bottom: 10px;
    font-family: sans-serif;
    font-weight: 400;
}

.lf-h {
    color: #f8f7ff;
    top: -5px;
    position: relative;
    font-family: sans-serif;
    font-weight: 600;
}

.pb-h {
    color: #f8f7ff;
    top: -5px;
    position: relative;
    font-family: sans-serif;
    font-weight: 600;
}
.cb-h {
    color: #f8f7ff;
    top: -5px;
    position: relative;
    font-family: sans-serif;
    font-weight: 600;
}



.pb-section {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    overflow-y: auto;
    height: 450px;
    background-color: #b8b8ff;
    margin-bottom: 20px;
    margin-top: 20px;
    font-family: sans-serif;
    font-weight: 400;
}
.cb-section {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    overflow-y: auto;
    height: 450px;
    background-color: #b8b8ff;
    font-family: sans-serif;
    font-weight: 400;
}


.separator {
    width: 2px;
    height: 35px;
    background-color: #080000;
    margin: 5px 0;
}


.lf-table,
.cb-table,
.pb-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    background-color: white;
    cursor: pointer;
    /* border: 1px solid #ddd; */
}

.lf-table th,
.cb-table th,
.pb-table th {
    background-color: #f2f2f2;
    padding: 7px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    position: sticky;
    font-family: sans-serif;
    font-weight: 500;
}

.lf-table td,
.pb-table td,
.cb-table td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
    text-align: center;
    font-size: 15px;
}


.lf-table tbody tr:last-of-type {
    border-bottom: 2px solid rgb(149, 93, 177);
}

.pb-table tbody tr:last-of-type {
    border-bottom: 2px solid rgb(113, 47, 145);
}

.cb-table tbody tr:last-of-type {
    border-bottom: 2px solid rgb(113, 47, 145);
}

.popup-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* semi-transparent black */
    display: flex;
    justify-content: center;
    align-items: center;
}
.popup {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 50vh;
}

.popup input[type="radio"]+label {
    display: inline-block;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #f0f0f0;
    color: #333;
    margin-bottom: 5px;
    margin-left: 10px;
}

.popup input[type="radio"]:checked+label {
    background-color: rebeccapurple;
    /* Change background color for selected option */
    color: white;
    /* Change text color for selected option */
    border: 5px solid #54088e;
    /* Add border for selected option */
}

.popup input[type="radio"]:not(:checked)+label:hover {
    background-color: #ddd;
    /* Change background color on hover for non-selected options */
}


.popup h2 {
    margin-bottom: 10px;
}

.popup textarea {
    width: 100%;
    margin-top: 5px;
    resize: none;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    height: 100px;
}

.popup-button {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}
.confirm-btn {
    background-color: green;
    color: white;
    margin-right: 20px;
    margin-left: 20px;
}

.cancel-btn {
    background-color: red;
    color: white;
    margin-left: 50px;
}

.toast-message {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #4caf50;
    color: white;
    padding: 16px;
    border-radius: 8px;
    z-index: 9999;
    animation: slideIn 0.5s ease-in-out, fadeOut 0.5s 2.5s ease-in-out forwards;
}

@keyframes slideIn {
    0% {
        transform: translateX(-50%) translateY(100%);
        opacity: 0;
    }

    100% {
        transform: translateX(-50%) translateY(0);
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}