
.ubh-h {
    text-align: center;
    margin-bottom: 20px;
}
 
.bookings-container {
    padding: 20px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
}
 
.booking {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
}
 
 
.lf-section {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    overflow-y: auto;
    background-color: #b8b8ff;
    height: 450px;
    margin-bottom: 10px;
}
 
.lf-h {
    color: #f8f7ff;
    top: -10px;
    position: relative;
}
 
.pb-h {
    color: #f8f7ff;
    top: -10px;
    position: relative;
}
.cb-h {
    color: #f8f7ff;
    top: -10px;
    position: relative;
}
 
 
 
.pb-section {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    overflow-y: auto;
    height: 450px;
    background-color: #b8b8ff;
    margin-bottom: 20px;
    margin-top: 20px;
}
.cb-section {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    overflow-y: auto;
    height: 450px;
    background-color: #b8b8ff;
}
 
 
.separator {
    width: 2px;
    height: 35px;
    background-color: #080000;
    margin: 5px 0;
}
 
 
.lf-table,
.cb-table,
.pb-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    background-color: white;
    cursor: pointer;
    /* border: 1px solid #ddd; */
}
 
.lf-table th,
.cb-table th,
.pb-table th {
    background-color: #f2f2f2;
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}
 
.lf-table td,
.pb-table td,
.cb-table td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}
 
 
.lf-table tbody tr:last-of-type {
    border-bottom: 2px solid rgb(113, 47, 145);
}
.pb-table tbody tr:last-of-type {
    border-bottom: 2px solid rgb(113, 47, 145);
}
.cb-table tbody tr:last-of-type {
    border-bottom: 2px solid rgb(113, 47, 145);
}