.ubh-h {
    text-align: center;
    margin-bottom: 20px;
}

.bookings-container {
    /* border: 2px solid; */
    /* background-color:#9381ff; */
    /* background-color:#2b2d42; */
    padding: 20px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: 80vh;
    justify-content: space-evenly;
}

.booking {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
}

.booking-item {
    display: flex;
    flex-direction: column;
}

.booking-item .label {
    flex: 1;
    font-weight: bold;
    margin-bottom: 5px;
}

.booking-item .value {
    flex: 2;
}

.lf-section {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    overflow-y:auto;
    background-color:#b8b8ff;
    height: 250px;
    margin-bottom: 10px;
}

.lf-h
{
    color:#f8f7ff;
    top: -10px;
    position: relative;
}
.pb-h
{
    color:#f8f7ff;
    top: -10px;
    position: relative;
}

.lf-booking {
    border: 1px solid #0a0a0a;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 10px;
    background-color: #fdfffc;
    border-left: 5px solid rgb(3, 248, 3);
}

.lf-booking:hover{
    box-shadow: 0 0 10px #3183f0;
    border-left: 5px solid rgb(3, 248, 3);
    transform: scaleX(1.02); /* Scale the row horizontally */
    cursor: pointer;
}


.lf-bi:hover{
    color: rgb(243, 148, 7);
}
.pb-bi:hover{
    color: rgb(243, 148, 7);
    cursor:pointer;
}


.pb-section {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    overflow-y:auto;
    height: 450px;
    background-color: #b8b8ff;
}
.pb-bi .label
{
    color:black;
}

.pb-booking {
    border: 1px solid #0a0a0a;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 10px;
    background-color:#dee0e0;
    color: rgb(3, 3, 3);
    border-left: 5px solid rgb(130, 3, 248);
}

.separator {
    width: 2px;
    height: 35px;
    background-color: #080000;
    margin: 5px 0;
}
